*{

    border: 0;
    padding: 0;
    box-sizing: border-box;
}


header , footer{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation{

    height: 100vh;
    background-color: black;
 position: relative;
 overflow: hidden;
}

.scooter{

    height: 200px;
    top: 40%;
    left: 0%;
    position: absolute;
}